<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link href="/css/output.css" rel="stylesheet" />
    <title>Htmx + Golang + TailwindCSS</title>
  </head>
  <body>
    <main class="bg-slate-700 p-2 h-[100vh]">
      <div class="md:container md:mx-auto">
        <h1 class="text-xl text-white">Hello world!</h1>
        <p class="text-teal-400">My name's James</p>
      </div>
    </main>
  </body>
</html>
